body {
  background-image:url("http://wallpapercraft.net/wp-content/uploads/2016/05/Download-Desktop-Coffee-Backgrouns.jpg");
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
}


nav {
  float: 0;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  list-style-type: none;
}
nav > ul > li > a {
  text-decoration: none;
  color:#452317;
  line-height: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
}


/* --- logo ---*/
.logo {
  position: relative;
  margin:10px 15px 15px 10px;
  float:left;
}
.bg-div {
  overflow: hidden;
}

.st3 {
  stroke-dasharray: 920;
  stroke-dashoffset: -920;
  animation: draw-st3 3s infinite;
  transform-origin: 50% 50%;
}

.st2 {
  stroke-dasharray: 615;
  stroke-dashoffset: -615;
  animation: draw-st2 3s infinite;
  transform-origin: 50% 50%;
}

@keyframes draw-st3 {
  from {
    stroke-dashoffset: -920;
    transform: rotat(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(720deg);
  }
}

@keyframes draw-st2 {
  from {
    stroke-dashoffset: -615;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}
#coffeelist{
  max-width: 80%;
  margin: auto;
}
